<html>
<% include partials/head %>
    <body>
        <div class='container'>
            <h1>
                <%=title %>
            </h1>
            <% include partials/nav %>
            <div class='row'>
                <div class='col'>
                    <h4>SG1</h2>
                    <ul class='list-group'>
                    <%for(var i=0; i<sg1.length; i++){%>
                        <div class='form-label-group'>
                            <input type='text' id=<%=sg1[i].name %> class='form-control list-group-item' value=<%=sg1[i].name %> >
                            <label for=<%=sg1[i].name %> ><%=sg1[i].rank %></label>
                        </div>
                    <%}%>
                    </ul>
                </div>
                <div class='col'>
                    <h4>Custom Team</h2>
                    <ul class='list-group'>
                        <%for(var i=0; i<sg1.length; i++){%>
                        <div class='form-label-group'>
                            <input type='text' id=<%=sg1[i].rank %> class='form-control list-group-item' placeholder=<%=sg1[i].rank %> >
                            <label for=<%=sg1[i].rank %> ><%=sg1[i].rank %></label>
                        </div>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <% include partials/scripts %>
    </body>
</html>
